#content {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: relative;
}

.navi{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
    margin-left: auto;

}

.logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    object-fit: contain;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 10px;
}
.search {
    width: auto;
    text-align: center;

}
.search_bar {
    align-items: center;
    display: flex;
    object-fit: contain;
    width: 530px;
    height: 40px;
    margin: 8px;
    border: 1px solid;
    border-radius: 24px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left:13px;
}

.action_button {
    display: inline-flex;
    margin: 11px;
    padding: 5px 16px;
}

.ident-f {
    text-align: end;
}

.ident {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}